# Internal MATLAB Files
*.asv
*.mex*

# Temporary files created by Vim
*.un
*.*~

# Images should not be tracked
matlab/images/*
matlab/scripts/frames/*
matlab/scripts/optimal_log/*

c_plus_plus/external/*
